extends layout

block css
  |.table-responsive {margin-top:15px;}
  |td{vertical-align:middle!important;}
  |span.history{margin-right:10px;}
  |p.recent{margin:-5px 0 0;}

block content
  h1 Twitter search
  p Enter your search terms
  .row
    .col-xs-12.col-md-6
      form(action='testpost', method='post')
        input(type='hidden',name='_csrf',value=csrfToken)
        div.input-group
          input.form-control(type='text',name='text')
          span.input-group-btn
            button.btn.btn-default search
    - if (history)
      hr.visible-xs.visible-sm
      div.col-xs-12.col-md-6
        p.recent
          strong Recent searches
        - for (var i=0;i<history.length;i++)
          span.history='"'+history[i].query+'"'
  - if (result)
    .table-responsive
      table.table.table-condensed
        thead
          tr
            th(colspan='2')
            th Name
            th Status
        - for (var i=0; i<result.length;i++)
          tr
            td
              strong=i+1
            td
              img(src=result[i].user.profile_image_url)
            td=result[i].user.name
              p.small=result[i].user.screen_name
            td=result[i].text