if (!fragment)
  div#login-modal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="basicModal",aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
          h4#login-modal-label.modal-title Login
        div.modal-body
          p Enter your email address to log in or register a new account. You will receive an email with a code to enter.
          form#login-form(action='/login-email', method='post')
            input(type='hidden',name='_csrf',value=csrf)
            div.input-group
              input.form-control(type='email',name='email',placeholder='email address')
              span.input-group-btn
                button.btn.btn-default(onclick="postReplace('#login-form','#login-modal .modal-body')") submit

else if (fragment == 'email-not-found')
  p!='No account was found for - <strong>' + email + '</strong>. Would you like to create a new one?'
  button.btn.btn-default(onclick="getReplace('/new-user','#login-modal .modal-body')") yes
  button.btn.btn-warning(data-toggle="modal",data-target="#login-modal") no

else if (fragment == 'email-found')
  p!='A code has been sent to your address - <strong>' + email + '</strong>. Please enter it now in the space below to log in.'
    form#login-form(action='/login-code',method='post')
      input(type='hidden',name='_csrf',value=csrf)
      div.input-group
        input.form-control(type='text',name='code',placeholder='ABC123')
        span.input-group-btn
          button.btn.btn-default(onclick="postReplace('#login-form','#login-modal .modal-body')") submit

else if (fragment == 'invalid-code')
  p!='The code you have entered is invalid for this email address. Please try again.'
    form#login-form(action='/login-code',method='post')
      input(type='hidden',name='_csrf',value=csrf)
      div.input-group
        input.form-control(type='text',name='code',placeholder='ABC123')
        span.input-group-btn
          button.btn.btn-default(onclick="postReplace('#login-form','#login-modal .modal-body')") submit

else if (fragment == 'logged-in')
  p You are now logged in.
  button.btn.btn-warning(data-toggle="modal",data-target="#login-modal",onclick="window.location='/'") close

else if (fragment == 'error')
  p An error has occurred
  p=error